<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <!-- Material Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="d-flex jc-sb ali-c">
        <!-- LOGO -->
        <div class="logo">
          <a href="./index.html">
            <h1>眼鏡官網 logo</h1>
          </a>
        </div>

        <!-- Navigation Option -->

        <ul class="nav-header d-flex jc-sb">
          <li><a href="./prod_optical.html">系列鏡框</a> </li>
          <li><a href="./locations.html">門市據點</a> </li>
          <li><a href="./blogs.html">部落格</a></li>
          <li><a href="./QA.html">常見問題</a></li>
        </ul>

      </nav>
    </div>
  </header>


  <%- contents %>

    <footer class="footer bg-dr">

      <div class="container">
        <div class="d-flex jc-sb">
          <div class="footer-left">
            <ul class="nav-footer d-flex">
              <li><a href="">系列鏡框</a> </li>
              <li><a href="">門市據點</a> </li>
              <li><a href="">部落格</a></li>
              <li><a href="">常見問題</a></li>
            </ul>

            <ul class="contact-info">
              <li>
                <a href="">
                  <span class="material-symbols-outlined">
                    call
                  </span>
                  <p>0800-000-000</p>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="material-symbols-outlined">
                    mail
                  </span>
                  <p>glasses@business.com</p>
                </a>
              </li>
            </ul>
          </div>


          <ul class="social-media d-flex jc-sb">
            <li><a href="#"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                  alt="FB"></a></li>
            <li><a href="#"><img
                  src="	https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                  alt="IG"></a></li>
            <li><a href="#"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                  alt="LINE"></a></li>
          </ul>
        </div>

        <div class="copy-right d-flex jc-sb">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>

          <ul class="d-flex jc-sb ali-c">
            <li><a href="#">隱私權政策</a></li>
            <li><a href="#">服務條款</a></li>
          </ul>
        </div>
      </div>
    </footer>


    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>