@import "./mixin";

// BANNER
.banner-header {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  // height: calc(100vh - 80px);

  .container {
    text-align: right;
    padding: 296px 0;

    h2 {
      font-size: $fz-base * 2.25;
      color: $color-text-dr;
    }

    h3 {
      font-size: $fz-base * 4;
      color: $color-text-dr;
      font-weight: 700;
      margin-bottom: 4px;
    }

    a {
      background-color: $color-bg-dr;
      color: $color-text-wh;
      display: inline-block;
      padding: 6px 12px;
      font-size: $fz-base + 4px;
    }
  }
}

// SERVICE
.service {
  background-color: $color-bg-lw;
  padding: 80px 0;

  h2 {
    @include h2-style;
    margin-bottom: 32px;
  }
}

.service-items {
  justify-content: space-between;

  li {
    flex-direction: column;
    align-items: center;

    width: 24%;

    .material-symbols-outlined {
      font-size: 84px;
      color: $color-text-dr;
      margin-bottom: 24px;
    }

    h3 {
      color: $color-text-dr;
      font-size: $fz-base * 1.5;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }
}

// CLASSICAL FRAME
.classical-frame {
  padding: 80px 0;

  h2 {
    @include h2-style;
  }

  .classical-items {
    display: flex;
    gap: 0 24px;

    li {
      h3 {
        text-align: center;
        color: $color-text-lr;
        font-size: $fz-base * 3;
        font-weight: 700;
        margin-top: 8px;
      }
    }
  }
}

// CO-BRAND
.co-brand {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 80px 0;

  h2 {
    @include h2-style;
    color: $color-text-wh;
  }

  .co-brand-items {
    display: flex;

    li {
      h3 {
        background-color: $color-bg-wh;
        padding: 8px 0px;
        text-align: center;
        color: $color-text-lr;
        font-size: $fz-base * 3;
        font-weight: 700;
      }
    }
  }
}

// RECOMMEND
.recommend {
  padding: 80px 0;

  h2 {
    @include h2-style;
  }

  .recommend-items {
    display: flex;
    gap: 0 24px;


    li {
      box-shadow: 0px 2px 6px #DEE2E6;

      .comments-box {
        padding: 16px;

        .comments {
          min-height: 72px;
          margin-bottom: 72px;
        }
      }

      h4 {
        margin-bottom: 8px;
        font-weight: 500;
      }

      .date {
        color: $color-text-date;
        font-size: $fz-base - 2px;
        line-height: 21px;
      }
    }
  }
}

// CONTACT-US
.contact-us {
  background-color: $color-bg-lw;
  padding: 80px 0;

  .container {
    max-width: 636px;

    p {
      font-size: $fz-base + 4px;
      margin-bottom: 24px;
    }

    h2 {
      @include h2-style;
      margin-bottom: 48px;
    }
  }

  label {
    display: block;

    input {
      width: 100%;
      padding: 6px 12px;
      margin: 8px 0 16px;
      background-color: transparent;
      border: 1px solid #000;
    }

    textarea {
      width: 100%;
      padding: 6px 12px;
      margin: 8px 0 16px;
      background-color: transparent;
      border: 1px solid #000;
    }
  }

  .checkbox {
    label {
      display: flex;
      gap: 4px;
    }

    input {
      display: none;
    }
  }

  .send-button {
    margin: 0 auto;
    background-color: $color-bg-dr;
    width: 65%;
    padding: 16px 0;
    margin-top: 48px;
    text-align: center;
    color: $color-text-wh;
  }
}


@media(max-width:992px) {
  .banner-header {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    height: auto;
  }

  .service-items {
    flex-wrap: wrap;

    li {
      width: 48%;
    }
  }

  .classical-items {
    flex-wrap: wrap;

    li {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .co-brand {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);

    .co-brand-items {
      flex-wrap: wrap;
      gap: 24px 0;
    }

    li {
      width: 100%;
    }
  }

  .recommend {
    .recommend-items {
      flex-wrap: wrap;
      gap: 24px 24px;

      li {
        // height: auto;
        width: 48%;
      }
    }


  }
}

@media(max-width:767px) {
  .container h2 {
    @include h2-style-sm;
  }

  .banner-header {
    height: auto;

    .container {
      padding: 144px 14px;

      h2 {
        font-size: $fz-base;
        color: $color-text-dr;
        text-align: right;
      }

      h3 {
        font-size: $fz-base * 1.5;
        color: $color-text-dr;
        font-weight: 700;
        margin-bottom: 8px;
      }
    }
  }

  .classical-frame {
    padding: 40px 0;
  }

  .service {
    padding: 40px 0;

    .service-items {

      li {
        width: 100%;
      }
    }
  }

  .co-brand {
    padding: 40px 0;

    h2 {
      color: $color-text-wh;
    }

    .img-double {
      content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true);
    }

    .img-youth {
      content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true);
    }
  }

  .recommend {
    padding: 40px 0;

    .recommend-items {
      flex-wrap: wrap;
      gap: 16px;

      li {
        height: auto;
        width: 100%;
      }
    }
  }

  .contact-us {
    padding: 40px 0;
  }

  .send-button {
    width: 100%;
  }
}