// TOOLS

// Width
$container-width-pc: 1320px;
$container-width-tb: 720px;
$container-width-sm: 696px;

// Color
$color-bg-dr: #AA0601;
$color-bg-lw: #FBF2F2;
$color-bg-wh: #fff;
$color-text-dr: #650300;
$color-text-lr: #AA0601;
$color-text-date: #707070;
$color-text-wh: #fff;

$color-box-1: #5F3E2D;
$color-box-2: #B75929;

// Font-Size
$fz-base: 16px;

// Strings
// $price: "NTD"